.wrapper {
  min-height: 90vh;
}
.custom_loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--color-link-button));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  animation: s3 1s infinite linear;
  margin: 0 auto;
  margin-top: 30vh;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.custom_loader2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--color-link-button);
  margin: 0 auto;
  margin-top: 30vh;
  -webkit-mask: radial-gradient(
    circle closest-side at 50% 40%,
    #0000 94%,
    #000
  );
  transform-origin: 50% 40%;
  animation: s5 1s infinite linear;
}

@keyframes s5 {
  100% {
    transform: rotate(1turn);
  }
}
